body{
	position: relative;
	font-family: FontAwesome;
	font-family: 'Slabo 27px', serif;
}

.game-container{
	margin: 0 auto;
	width: 1000px;
	text-align: center;
	border-style: solid;
	border-width: 1px;
}

.board-header{
	text-align: left;
	width: 30%;
	margin: 0 0 0 21px;
	padding: 0;
	display: inline;
	float: left;
}

.scoreboard{
	width: 400px;
	margin: 5px 21px 0 0;
	display: inline-block;
	text-align: right;
	float: right;
}

.scoreboard h2{
	margin: 0;
	padding: 0;
}

#game-grid{
	display: inline-block;
	margin: 0 auto;
	padding: 0;
	list-style: none;
}

#game-grid li{
	margin: 5px;
	height: 150px;
	width: 225px;
	padding-top: 70px;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	background: grey;
	/*color: rgba(0,0,0,0);*/
}

#game-grid li:hover{
	color: rgba(0,0,0,1);
}

#game-grid p{
	margin: 0;
	padding: 0;
}
