body{
	position: relative;
	font-family: FontAwesome;
}

.game-container{
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

#game-grid{
	display: inline-block;
	margin: 0 auto;
	padding: 0;
	list-style: none;
}

#game-grid li{
	margin: 5px;
	height: 150px;
	width: 225px;
	padding-top: 70px;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	background: grey;
	/*color: rgba(0,0,0,0);*/
}

#game-grid li:hover{
	color: rgba(0,0,0,1);
}

#game-grid p{
	margin: 0;
	padding: 0;
}
